body {
    margin: 0;
    display: flex;
    background-color: #151823;
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

h2 {
    text-align: center;
}
.settings h2 {
    text-align: center;
    margin-bottom: 0;
}

.categories {
    background-color: #1c202f;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;
}

.category {
    padding: 10px 10px 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #151823;
    position: relative;
    cursor: pointer;
}
.accent {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background: #19947d;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: .4s ease;
    z-index: 0;
}

.category p {
   margin: 0;
   position: relative;
}

.selected .accent {
    border-radius: 5px;
    width: 100%;
}

.settings {
    flex: 1;
    padding: 10px 10px 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.line {
    display: flex;
    width: 300px;
    align-items: center;
    gap: 4px;
}
.spacer {
    flex: 1;
}
.name {
    font-size: 15px;
    margin: 0 0 5px;
}
.help {
    font-size: 13px;
    color: white;
    background-color: #1c202f;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
}
.help p {
    position: absolute;
    top: calc(-100% - 30px);
    font-size: 11px;
    height: 13px;
    width: max-content;
    left: -10px;
    background-color: #1c202f;
    border-radius: 10px;
    padding: 10px;
    z-index: 100;
}
.help p:after {
    content: "";
    position: absolute;
    left: 15px;
    width: 10px;
    height: 10px;
    bottom: -5px;
    background-color: #1c202f;
    transform: rotate(45deg);
}

select, .text {
    background-color: #1c202f;
    color: white;
    border-radius: 5px;
    padding: 5px;
    width: 300px;
    outline: 0;
    border: 1px solid #1c202f;
    transition: .4s ease;
}
select:focus, .text:focus {
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%), 0 0 0 0.15rem #19947d80;
}

.btn {
    height: 34px;
    width: unset;
}
input[type=file] {
    flex: 1;
    width: unset;
}

.check {
    position: relative;
    background-color: #1c202f;
    border-radius: 25px;
    width: 32px;
    height: 15px;
    padding: 2px;
    cursor: pointer;
    transition: .4s ease;
}
.check.on {
    background-color: #76b852;
}
.check:before {
    width: 15px;
    height: 15px;
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: white;
    border-radius: 100%;
    transition: .4s ease;
}
.on:before {
    left: 19px;
}
.close {
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #1c202f;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.info {
    font-size: 15px;
}

a {
    color: #49caf4;
}

.setting {
    display: flex;
    flex-direction: column;
    gap: 5px;
}