html {
    width: 100%;
    height: 100%;
    margin: 0;
    color: white;
    font-family: roboto, serif;
}

body {
    margin: 0;
    background-size: cover !important;
    background-position: center !important;
    overflow: hidden;
}


.info {
    position: absolute;
    left: 20px;
    top: 20px;
    padding-bottom: 10px;
    text-align: justify;
}
.line {
    content: " ";
    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    --left: 0;
}
.info > * {
    margin: 0;
}
.info > p {
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 0;
}
h2 {
    font-size: 24px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.popin > .search {
    animation: popin 1s ease forwards;
}
.popin > .basic {
    animation: popout 1s ease forwards;
}
.popout > .search {
    animation: popin 1s ease reverse forwards;
}
.popout > .basic {
    animation: popout 1s ease reverse forwards;
}

.search {
    height: 28px;
    transform: translateY(-28px);
    filter: opacity(0);
}
.basic {
    transform: translateY(28px);
    text-align: center;
}
.time {
    font-size: 100px;
}
.text {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.search > input {
    color: white;
    background-color: #ffffff10;
    backdrop-filter: blur(10px);
    font-size: 30px;
    border: 1px  solid #ffffff55;
    border-radius: 7px;
    padding: 10px;
    outline: 0;
}

.weather {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-top: 7px;
}
.weather > img {
    width: 15px;
    float: left;
}

.description {
    margin: 0;
}


@keyframes popin {
    0% {
        filter: opacity(0);
        transform: translateY(28px);
    }
    10% {
        filter: opacity(.1);
        transform: translateY(28px);
    }
    100% {
        filter: opacity(1);
        transform: translateY(0);
    }
}
@keyframes popout {
    0% {
        transform: translateY(28px);
    }
    90% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}


.icons {
    position: absolute;
    left: 15px;
    bottom: 15px;
    display: flex;
    gap: 5px;
    right: 15px;
    justify-content: space-between;
}
.mainIcons {
    display: flex;
    gap: 5px;
}
.icons img {
    width: 20px;
    cursor: pointer;
    transition: .2s ease;
    filter: opacity(.7);
    height: 20px;
}
.github-icon, .settings-icon {
    filter: invert(1) opacity(.7) !important;
}
.icons img:hover {
    filter: opacity(1);
}
.notFound {
    filter: invert(1) opacity(.7) !important;
}
.notFound:hover {
    filter: invert(1) opacity(1) !important;
}
.github-icon:hover, .settings-icon:hover {
    filter: invert(1) opacity(1) !important;
}

.divider {
    height: 20px;
    border-left: 1px solid white;
    margin-left: 5px;
    margin-right: 5px;
    filter: opacity(.7);
}

.audio {
    float: right;
    display: flex;
    gap: 5px;
}

.widget {
    width: 100%;
    transition: 1s ease;
}
.widget .line {
    transform: translate(-50%, -28px);
}
.widgetData {
    display: flex;
    height: 30px;
    margin-top: 28px;
    margin-bottom: 15px;
    align-items: center;
    gap: 10px;
    transition: 1s ease;
}
.cover {
    width: 40px;
    max-height: 40px;
    border-radius: 5px;
}

.title {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.battery {
    padding: 1px;
    border: 1px solid white;
    border-radius: 2px;
    width: 10px;
    height: 15px;
    position: relative;
    display: flex;
    align-items: end;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    filter: opacity(.7);
    transition: .2s ease;
}
.battery:hover {
    filter: opacity(1);
}
.battery:before {
    content: "";
    background-color: white;
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 6px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}
.level {
    width: 100%;
    height: 0;
    background-color: lightgreen;
    border-radius: 1px;
}

.oldLyric {
    position: absolute;
    width: 100%;
    overflow-x: hidden;
    transition: 1s ease;
    margin-top: 5px;
    font-size: 7px;
    color: lightgray;
}

.lyric {
    position: absolute;
    width: 100%;
    overflow-x: hidden;
    margin-top: 5px;
    font-size: 7px;
}

@keyframes floatDown {
    0% {
        transform: translateY(0);
        position: unset;
    }
    100% {
        transform: translateY(63px);
        position: unset;
    }
}

.musicLine {
    position: relative;
    display: none;
    align-items: center;
    gap: 5px;
    max-width: 100%;
    transition: 1s ease;
}

.media {
    position: relative;
    width: 22px;
    height: 22px;
}

.company {
    width: 16px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px;
    background-color: #22222c;
    animation: 1.5s moveIn ease forwards;
}

.artwork {
    width: 22px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.musicName {
    position: absolute;
    left: 27px;
    width: calc(100% - 27px);
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: clip;
    animation: 1s fromLeft ease forwards;
}

@keyframes swipeIn {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fromLeft {
    0% {
        width: 0;
    }
    100% {
        width: calc(100% - 27px);
    }
}

@keyframes toLeft {
    0% {
        width: calc(100% - 27px);
    }
    100% {
        width: 0;
    }
}

@keyframes moveIn {
    0% {
        top: 0;
        left: 0;
        width: 16px;
        bottom: unset;
        right: unset;
        padding: 3px;
        background-color: #22222c;
    }
    75% {
        top: 0;
        left: 0;
        width: 16px;
        bottom: unset;
        right: unset;
        padding: 3px;
        background-color: #22222c;
    }
    100% {
        top: 11px;
        left: 11px;
        width: 11px;
        padding: unset;
        background-color: unset;
    }
}