body {
    background-color: #151823;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}
body p {
    width: 400px;
    font-size: 15px;
}
body b {
    font-size: 17px;
}
.button {
    background: #19947d;
    width: 400px;
    height: 36px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}