body {
    background-color: #303039;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}
body p {
    width: 400px;
    font-size: 15px;
}
body b {
    font-size: 17px;
}
.button {
    background: linear-gradient(to right, #76b852, #8dc26f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 400px;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}